<h1>XV Ogólnopolskie Zawody Makiet Szybowców RC</h1>
  <h2>Formularz zgłoszeniowy uczstnika XV Ogólnopolskich Zawodów Makiet Szybowców RC</h2>

<form>
  <input type="text" name="field1" ng-model="formNewData.field1">Imię i nazwisko zawodnika<br/>
  <input type="text" name="field2" ng-model="formNewData.field2">E-mail kontaktowy<br/>
  <input type="text" name="field3" ng-model="formNewData.field3">Klub zawodnika<br/>
  <input type="text" name="field4" ng-model="formNewData.field4">Nazwa modelu<br/>
  <input type="text" name="field5" ng-model="formNewData.field5">Rozpiętość modelu<br/>
  <input type="text" name="field6" ng-model="formNewData.field6">Waga modelu<br/>
  <input type="text" name="field7" ng-model="formNewData.field7">Częstotliwość<br/>
  <!--<input type="text" name="field8" ng-model="formNewData.field1">Częstotliwość<br/> -->
  <button ng-click="saveFormDataToDb()">Zapisz się!</button>

</form>


<h3>Lista zgłoszonych uczestników</h3>

<table class="table">
  <thead>
  <tr>
    <th>Lp.</th>
    <th>Imię i nazwisko</th>
    <th>Klub</th>
    <th>Model</th>
    <th>Rozpiętość</th>
    <th>Waga</th>
    <th>Częstotliwość</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="result in formData">
    <td>{{$index + 1}}</td>
    <td>{{result.field1}}</td>
    <td>{{result.field3}}</td>
    <td>{{result.field4}}</td>
    <td>{{result.field5}}</td>
    <td>{{result.field6}}</td>
    <td>{{result.field7}}</td>
  </tr>
  </tbody>
</table>
